@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{   
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Notes" asp-action="Index">Notes</a>
    </li>
}
